@import url('./colors.css');
body{

  font-family: 'Montserrat', sans-serif;

}
.App {
  display: -webkit-flex;
  flex-flow: row; 
  width: 1200px;  
}

.Left {
  background-color: var(--background-blue);
  color: white;
}

.Right{
  display: -webkit-flex;
  flex-flow: row; 
  flex: 1 0 auto;
  width: 50%;
  
  padding: 100px 0px 60px 0px;
  position: relative;
}

.Left-headert {
  display: -webkit-flex;
  width: 100%;
 
}

.Left-headert-photo {
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 50%;
  height: 300px;
  position: relative;
}
.img-photo{
  width: 250px;
  height: 280px;
}
.triangle{
  position: absolute;
  width: 0;
	height: 0;
	border-bottom: 50px solid var(--background-blue);
  border-left: 50px solid transparent;
  bottom: 0%;
  right: 0%;
}

.Left-headert-profile{
  width: 50%;
  display: flex;
  flex-flow: column;
  align-items: center;
  text-transform: uppercase;
  font-weight: 600;
  padding-top: 50px;
}

.name{
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 15px;
}

.job{
  text-transform: capitalize;
  font-size: 1.6rem;
  text-align: center;
}
.Left-content{
  padding: 50px 10px;
  display:-webkit-flex;
  flex-flow: column;
  align-items: center;
}

.Left-content-info{
  width: 100%;
  display: -webkit-flex;
  flex-flow: column;
  align-items: center;
  margin-bottom: 50px;
}

.Left-content-information-section{
  width: 100%;
  display: -webkit-flex;
  flex-flow: column;
}

.Left-content-title{
  width: fit-content;
  height: 25px;
  text-align: center;
  border-bottom: 1px solid white; 
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 25px;
}

.Left-content-text{
  display: inline-block;
  padding: 0px 0px 10px 0px;
  font-family: 'Comfortaa', cursive;
  font-weight: 100;
  line-height: 23px;
  text-align: justify;
  color: rgba(255, 255, 255, 0.85);
}

.Bold-text{
  display: inline-block;
  font-weight: bold;
  text-transform: uppercase;
}

.Contact-item{
  display: flex;
  align-items: center;
  width: 100%;
}

.icon{
  width: 40px;
  height: 40px;
  padding: 10px;
}

.Contact-item-text{
  color: white;
}

.Bar-box{
  display: flex;
  align-items: center;
  width: 100%;
  margin: 10px 0px;
}

.Bar-setion-color{
  display: flex;
  margin: 0px 10px;
}

.Bar-color{
  height: 40px;
}

.Bar_orange{
  background-color: var(--orange);
}

.Bar_white{
  background-color: #ffffff;
}

.Bar-name{
  width: 100px;
  padding: 0px 0px 0px 10px;
  font-size: 1.2rem;
  text-align: center
}

.Bar-number{
  font-family: 'Montserrat', sans-serif;
  width: 100px;
  padding: 0px 0px 0px 10px;
  font-weight: 600;
  font-size: 1.2rem;
}

.img-photo-hoobies{
  width:60px;
  height:60px;
  margin: 5px 15px;
}

.Left-content-information-section-horizontal{
  width: 100%;
  display: -webkit-flex;
  justify-content: center;
}

.line{
  height: 100%;
  border: solid 2px black;
  margin-left: 60px;
  position: relative;
}
.Point-last{
  width: 15px;
  height: 15px;
  background: black;
  border-radius: 50%;
  margin-right: 5px;
  bottom: -6px;
  left: -7px;
  position: absolute;
}
.Right-content{
  position: absolute;
  width: 95%;
  top: 45px;
  left: 30px;
}
.Information-box{
  display: -webkit-flex;
  flex-flow: column;
  width: 100%;
}
.Information-header{
  display: -webkit-flex;
  align-items: center;
  margin-bottom: 15px;
}
.Information-icon{
  width: 40px;
  height: 40px;
}
.wrap-header-icon{
  background-color: var(--background-blue);
  border-radius: 50px;
  width: 60px;
  height: 60px;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
}
.Information-header-title{
  text-transform: uppercase;
  color: var(--gray);
  font-weight: 600;
  font-size: 1.5rem;
  padding-left: 15px;
}
.Information-content{
  display: flex;
  flex-flow: row;
}
.Information-year-left{
  display: -webkit-flex;
  padding-top: 15px;
  margin-right: 10px;
}
.Information-year-right{
  margin-bottom: 20px;
}
.Point-year{
  width: 15px;
  height: 15px;
  background: black;
  border-radius: 50%;
  margin-right: 5px;
  cursor: pointer;
  position: relative;
  -webkit-transition:1s;
  transition:0.5s;
}
.Point-year:hover{
  width: 20px;
  height: 20px;
  left: -4%;
  top:-3%;
}
.Number-year{
  font-size: 0.8rem;
  font-weight: bold;
  width: 50px;
  height: fit-content;
}

.Information-year-wrap{
  display: -webkit-flex;
  padding: 10px 0px 0px 24px;
  color: var(--gray);
}

.Information-year-right-wrap-2{
  display: inline-block;
}

.Information-content-text-title{
  text-transform: uppercase;
  font-weight: 500;
}

.Information-content-text-subtitle{
  text-transform: capitalize;
  font-weight: 500;
}

.Information-content-text-resume{
  margin: 10px 0px;
  height: fit-content;
}

.Information-content-text-resume2{
  display: inline;
  text-transform: none;
  font-weight: normal;
}

.Information-content-text-resume3{
  text-transform: none;
  font-weight: normal;
  padding-left: 15px
}

.Modal-box{
  display: none;
  flex-direction: column;
  width: 700px;
  min-height: 250px;
  max-height: 600px;
  overflow: auto;
  border-radius: 5px;
  background-color: white;
  position: fixed;
  z-index: 1;
  left: 30%;
  top: 15%;
  box-shadow: 0 1px 15px rgba(0,0,0,1);
}
.App-box{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  position: relative;
}
.Mask{
  display: none;
  position: absolute;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.Modal-header{
  border-bottom: solid 1px var(--gray);
  font-weight: bold;
  margin-bottom: 20px;
  display: -webkit-flex;
  justify-content: space-between;
}

.Modal-Content{
  padding: 0px 20px;
}

.Xletter{
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  cursor: pointer;
}

.Modal-header-year{
  padding: 20px 0px 20px 20px ;
  color: rgba(0, 0, 0, 0.9);
  text-transform: uppercase;
  font-size: 1.3rem;
}
.Modal-header-title{
  padding: 20px 0px;
  color: rgba(0, 0, 0, 0.9);
  text-transform: uppercase;
  font-size: 1.3rem;
}